@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --foreground: #111111;
  --swiss-dark: #111111;
  --swiss-gray: #EFEFEF;
  --swiss-white: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #FAFAFA;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply selection:bg-swiss-white selection:text-swiss-dark;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
